<div class="page-header">
    <h1>Új recept beküldése</h1>
</div>

<form class="form-horizontal" method="post">
    <fieldset>
        <div class="form-group
            {{#if validationRecipes.nev}}
                has-error
            {{/if}}
        ">
            <label for="nev" class="col-lg-2 control-label">Étel neve</label>
            <div class="col-lg-8">
                <input class="form-control" id="nev" name="nev" placeholder="Gulyásleves, Spagetti.." type="text" value="{{data.nev}}">
                {{#if validationRecipes.nev}}
                    <span class="help-block">{{validationRecipes.nev.msg}}</span>
                {{/if}}
            </div>
        </div>
        <div class="form-group
            {{#if validationRecipes.elkeszites}}
                has-error
            {{/if}}
        ">
            <label for="elkeszites" class="col-lg-2 control-label">Elkészítés</label>
            <div class="col-lg-8">
                <textarea class="form-control" rows="3" id="elkeszites" name="elkeszites" placeholder="Hozzávalók, elkészítése lépésről lépésre, várható elkészülési idő...">{{data.elkeszites}}</textarea>
                <!--<span class="help-block">Meg kell adni a helyszínt, ha pedig konkrét géppel van probléma, akkor azt is.</span>-->
                {{#if validationRecipes.elkeszites}}
                    <span class="help-block">{{validationRecipes.elkeszites.msg}}</span>
                {{/if}}
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-lg-8 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Beküld</button>
                <button type="reset" class="btn btn-default">Töröl</button>
            </div>
        </div>
    </fieldset>
</form>        